* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}


body {
  height: 5600px;
  background: black;
}



.homy {
  height: 800px;
  padding-bottom:20px;
}



.iconz {
  font-size: 21px;
}



.imagey {
  height: 530px;
  margin-top: 50px;
}



.index {
  z-index: 100;
  margin-top:10px;
}


.heading1 {
  font-size: 30px;
  font-weight: bold;
  color: white;
  display: flex;
  align-items: center;
  margin-left: 195px;
} 



.para1 {
  font-size: 35px;
  margin-bottom: 200px;
}


.about {
  text-align: center;
  color: white;
}



.about2 {
  text-align: center;
  color: rgba(255, 255, 255, 0.644);
}


.abt-section {
  height:720px;
  background-color: green;
}



.work-image {
  height:100%;
  width: 100%;
  border-radius: 50px;
}


.work-section {
  height: 950px;
}



.pricing {
  height: 800px;
  background-color: green;
}



.blog-section {
  height: 700px;
}



.testimonial {
  height: 500px;
  background-color: green;
}



.contact-section {
  height: 1020px;
}


.control {
  height: 50px;
  border: none;
  border-radius: 20px;
}



.map {
  height: 400px;
  background-color:green;
}



#footer {
  height: 150px;
  background-color:rgb(244, 187, 1);
  text-align: center;
}



.iconf {
  font-size:30px;
  padding-top: 25px;
  display: flex;
  justify-content: space-evenly;
  margin-left: 220px;
  margin-right: 220px;
}



.copy {
  margin-top: 30px;
}