* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}


body {
  height: 4000px;
  background: black;
}



.homy {
  height: 800px;
  padding-bottom:20px;
}


.heady {
  padding-left: 300px;
}



.iconz {
  font-size: 21px;
}



.imagey {
  height: 530px;
  margin-top: 50px;
}



.index {
  z-index: 100;
  margin-top:10px;
}



.heading1 {
  font-size: 30px;
  font-weight: bold;
  color: white;
  display: flex;
  align-items: center;
  margin-left: 195px;
} 



.para1 {
  font-size: 20px;
  font-weight: bold;
  color: white;
  margin-bottom: 100px;
}


.about {
  text-align: center;
  color: white;
}



.about2 {
  text-align: center;
  color: rgba(255, 255, 255, 0.644);
}



.pylot {
  margin-top: 10px;
  margin-left: 45px;
  height: 305px;
  
}



.abt-section {
  height:720px;
  background-color: green;
}



.accordion {
  width: 400px;
  position: relative;
  top: 25px;
  right: 30px;
}



.listgroup {
  width: 400px;
  position: relative;
  top: 35px;
  right: 30px;
}



.work-image {
  border-radius:50px;
   height:100%;
   width: 100%;
}



.work-section {
  height: 850px;
}
